@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
::selection {
  background: rgba(99, 102, 241, 0.35); /* soft purple */
  color: #ffffff;
}

/* For fireFox  */
::-moz-selection {
  background: rgba(99, 102, 241, 0.35); /* soft purple */
  color: #ffffff;
}
